<h1>Daftar Penulis</h1>

<table>
  <tr>
    <th>No.</th>
    <th>Nama Penulis</th>
    <th>Alamat</th>
    <th>Umur</th>
    <th>Jumlah Buku</th>
    <th>Aksi</th>
  </tr>
  <% no = 0 %>
  <% @authors.each do |author| %>
    <tr>
      <td><%= no += 1 %></td>
      <td><%= author.name %></td>
      <td><%= author.address %></td>
      <td><%= author.old %></td>
      <td><%= author.books.count %></td>
      <td>
        <%= link_to 'detail', author_path(author) %> |
        <%= link_to 'edit', edit_author_path(author) %> |
        <%= link_to 'delete', author_path(author), method: :delete, data: {confirm: "Apakah anda yakin ingin menghapus:\n\"#{author.name}\"?"} %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to '+ tambah data penulis', new_author_path %>
</div>
