<h1>Daftar Semua Buku</h1>

<%= render 'layouts/menu' %>

<%= render 'layouts/notice' %>

<table>
  <tr>
    <th>No.</th>
    <th>Judul</th>
    <th>Penulis</th>
    <th>Deskripsi</th>
    <th>Halaman</th>
    <th>Harga</th>
    <th>Aksi</th>
  </tr>
  <% no = 0 %>
  <% @books.each do |book| %>
    <tr>
      <td><%= no += 1 %></td>
      <td><%= book.title %></td>
      <td><%= book.author.name %></td>
      <td><%= truncate(book.description, length: 45) %></td>
      <td><%= book.page %></td>
      <td><%= book.price %></td>
      <td>
        <%= link_to 'detail', book_path(book) %> |
        <%= link_to 'edit', edit_book_path(book) %> |
        <%= link_to 'delete', book_path(book), method: :delete, data: {confirm: "Apakah kamu yakin akan menghapus data buku:\n\"#{book.title}\"?"} %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to '+ tambah buku baru', new_book_path %>
</div>
